
/*  True throughout page */

.curriculum-page {
    margin:0;
    padding:0;
    font-size:18px;
}

.curriculum-page a {
    text-decoration:underline;
}

.curriculum-page h1 {
    margin:0;
    padding:0;
}

.curriculum-page h2 {
    font-weight:bold;
    font-size:40px;
}

.curriculum-page h5 {
    font-weight:bold;
}

.curriculum-page .section {
    padding: 35px 30px 35px 50px;
}

.indent-1 {
    padding-left:20px;
}

.indent-2 {
    padding-left:40px;
}



/* Div-specific */

.curriculum-page .header h1 {
    font-size:80px;
    color:#24C0EB;
    font-weight:bold;
}

.curriculum-page .white, .curriculum-page .white a {
    color:black;
}

.curriculum-page .black h2, .curriculum-page .white h2 {
    color:#24C0EB;
}

.curriculum-page .blue, .curriculum-page .blue a {
    color:black;
    background-color:#24C0EB;
}

.curriculum-page .blue h2 {
    color:white;
}

.curriculum-page .black, .curriculum-page .black a {
    color:white;
    background-color:#222222;
}



