body {
  font-family: Verdana, Helvetica Neue, Helvetica, sans-serif;
  font-size: 62.8%;
  background: #f8f8f8 url('./img/light-hatch.png');
  padding: 0 .5em;
}

a {
  color: #ff6d3d;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1, h2 {
  font-family: Tuffy, Helvetica Neue, Helvetica, sans-serif;
}

h1 {
  font-size: 4.2em;
  line-height: 1em;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.9em;
  line-height: 1em;
  background: rgba(100, 200, 255, 0.3);
  border-radius: 10px;
  padding: 10px 1em;
}

p, li, dd, dt {
  font-size: 1.6em;
  line-height: 1.4em;
  padding: 0 1em;
}

.step {
  margin: 0 10%;
}

.step h2 {
  transition: background-color 1s;
}

.step .description,
.step .special,
.step .checkbox {
  display: block;
}

.step .expected-time {
  background: rgba(0, 0, 0, 0.13);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline;
}

.step .special {
/*  display: none; */
}

.step.futur .description,
.step.futur .expected-time,
.step.futur .special,
.step.past .description,
.step.past .expected-time,
.step.past .special {
  display: none;
}

.step.past h2 {
  background: rgba(160, 255, 100, 0.3);
}

.checkbox {
  width: 40px;
  height: 30px;
  float: left;
  vertical-align: middle;
  background: url('img/checkbox.png') no-repeat;
  background-position: 0 -90px;
}

.step.current .checkbox,
.step.past .checkbox {
  cursor: pointer;
}

.step.current .checkbox {
  background-position: 0 0;
}

.step.current .checkbox:hover {
  background-position: 0 -30px;
}

.step.past .checkbox,
.step.past .checkbox:hover {
  background-position: 0 -60px;
}

ul li {
  list-style-type: circle;
}

.command {
   font-family: Courier New, Courier, monospace;
  font-size: 80%;
}
