html,body{margin:0;padding:0}
body{font: 130%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #CC0000;padding-bottom:20px}
a { color: #615445; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #CC0000; }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background:#CC0000}
div#header h1,div#menu{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: #fff}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{float:right;font-size: 80%}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul#nav a:hover{background: #fff;color: #000}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}

#signup {
    text-align: center;
}



div.section {
	padding: 1em;
	margin-bottom: 1.2em;
	text-align: justify;
}

div.section_gray {
	padding: 1em;
	margin-bottom: 1.2em;
	text-align: justify;
	color: #fff;
}

div.section_gray a{
	color:#d3d3d3;  
}


div.colored {
    background: #eee;
}

#left {
	float: right;
	width: 20%;
	margin: 0 0 10px 0;
	
}

#left .box {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
}


#content {
font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
    padding: 15px;
	background: #fff;
	
	
}

.doit {
    text-align: right;
}

/* Asheesh's additions */
.floatleft {
    font-size: 120%;
    background-color: #FFF6BF;
    float: left;
    width: 36%;
    margin: 2%;
    padding: 10px;
    border: 2px dashed white;
}

.floatleft h2 {
    text-align: center;
}
